html {
    overflow-x: hidden;
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40vh;
    left: 9vh;
    width: 70vw;
}
form {
    border: solid;
    border-radius: 10px;
    height: 50vh;
    text-align: center;
    line-height: 7vh;
}
#file{ 
    position: relative;
    left: 7vh;
}
#topic {
    position: relative;
    top: 1vh;
    left: 8vh;
}
#imgbtn {
    font-family: 'Roboto Condensed', sans-serif;
    height: 4vh;
    border: solid grey;
    border-radius: 5px;
    width: 15vh;
    position: relative;
    top: 10vh;
    left: -27vw;
}
#imgbtn:hover {
    border: transparent;
    color: white;
    background-color: blueviolet;
}

#images {
    height: 15vh;
    width: 25vw;
    box-shadow: 5px 5px 15px 3px black;
}

.panel {
    position: relative;
    top: 0vh;
    left: 4vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;

}
option {
    color: black;
    background: rgba(42, 0, 0, 0);
}
select{
    z-index: 20;
    height: 20px;
    box-shadow: 2px 5px 15px black;
    color: white;
    background-color: rgb(255, 255, 255, 0.1);
    width: 15vh;
}
.link {
    position: relative;
    top: 50vh;
}