body {
    overflow-x: hidden;
    height: 100vh;
}
.data {
    overflow-y: scroll;
    height: 80vh;
    display: flex;
    text-align: center;
    position: relative;
    top: 20vh;
    display: block;
    justify-content: space-between;
}
#images {
    border: solid;
    border-radius: 10px;
    width: 25vw;
    height: 50vh;
}

@media only screen and (max-width: 425px) {
    #images {
        width: 65vw;
    }
}