body {
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
}
.data {
    border: solid;
    width: 90vw;
    overflow-y: scroll;
    height: 80vh;
    display: flex;
    text-align: center;
    position: relative;
    top: 20vh;
    display: block;
    justify-content: space-between;
}
#images {
    border: solid;
    border-radius: 10px;
    width: 25vw;
    height: 50vh;
}
.topic {
    font-size: 4vh;
    position: relative;
    padding: 2vh 0vh;
    font-family: 'Roboto Condensed', sans-serif;
}
.name
{
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    left: 10vw;
}

@media only screen and (max-width: 425px) {
    #images {
        width: 65vw;
    }
}