body {
    width: 100vw;
}
.data {
    width: 100vw;
    overflow-y: scroll;
    height: 80vh;
    display: flex;
    text-align: center;
    position: relative;
    top: 20vh;
    display: block;
    justify-content: space-between;
}
.std11 {
    opacity: 0;
}
.images {
    border: solid;
    border-radius: 10px;
    width: 65vw;
    height: 50vh;
}
.topic {
    font-size: 4vh;
    position: relative;
    padding: 2vh 0vh;
    font-family: 'Roboto Condensed', sans-serif;
}
.name
{
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    left: 20vw;
}
.panel {
    height: 5vh;
    position: relative;
    top: 17vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
select{
    z-index: 20;
    height: 20px;
    border-radius: 1vh;
    box-shadow: 2px 5px 15px black;
    color: black;
    background-color: whitesmoke;
    width: 15vh;
}
@media only screen and (max-width: 425px) {
    #images {
        width: 65vw;
    }
}