html {
    overflow-x: hidden;
}
.btn {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35vh;
    left: 0vw;
    width: 100%;
}
.btn a img{
    width: 35vh;
}
.quote {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 6vh;
    font-weight: 900;
    font-family: 'Great Vibes', cursive;
    position: absolute;
    top: 60vh;
}
.body{
    overflow-x: hidden;
    background: url(/static/img/bg1.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    top: 0vh;
}
.content {
    z-index: 0;
    background: rgba(0, 0, 0, 0.412);
    backdrop-filter: blur(5px);
    position: relative;
    top: 13vh;
    height: 89vh;
}
.exp {
    z-index: 0;
}
.panel {
    position: relative;
    top: 2vh;
    left: 3vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;
}
option {
    
    color: black;
    background: rgba(42, 0, 0, 0);
}
select{
    height: 20px;
    overflow: scroll;
    border: transparent;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 253, 253, 0.399);
    width: 25vh;
}

#images {
    position: absolute;
    top: -25vh;
    height: 25vh;
    width: 25vh;
    transform: tr;
}
.subject {
    visibility: hidden;
    position: relative;
    top: 5vh;
    border: solid;
}

.link {
    position: relative;
    top: 0vh;
}