.body {
    position: relative;
    top: 35vh;
}
.form {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    top: 0vh;
    left: 22vw;
    width: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    background: rgba(250, 249, 249, 0.499);
    height: 30vh;
    line-height: 5vh;
    border: solid rgba(0, 0, 0, 0.115);
    border-radius: 25px;
    display: block;
    justify-content: center;
    text-align: center;
    padding: 10px;

}
.title {
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 2vh;
    font-size: 4vh;
    display: flex;
    justify-content: center;
}
#submit {
    font-family: 'Roboto Condensed', sans-serif;
    border: solid rgb(86, 86, 86);
    border-radius: 5px;
    width: 14vh;
    position: relative;
    top: 2vh;
}
#submit:hover {
    border: transparent;
    color: white;
    background-color: blueviolet;
}

.link {
    width: 100vw;
    color: white;
    position: absolute;
    top: 100vh;
}