.body {
    position: relative;
    top: 35vh;
}
form {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 5vh;
    width: 70vw;
    display: block;
    position: relative;
    top: 0vh;
    left: 20vw;
}
.title {
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 2vh;
    font-size: 4vh;
    display: flex;
    justify-content: center;
}
.error {
    opacity: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: red;
    display: flex;
    justify-content: center;
}
#submit {
    font-family: 'Roboto Condensed', sans-serif;
    height: 4vh;
    border: solid grey;
    border-radius: 5px;
    width: 15vh;
    position: relative;
    top: 2vh;
    left: 8vh;
}
#submit:hover {
    border: transparent;
    color: white;
    background-color: blueviolet;
}
.link {
    position: relative;
    top: 85vh;
}