{% extends "style.html" %}
{% block content%}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
<script src="{{ url_for('static', filename='style.js') }}"></script>

<div class="form">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        
        
        <div class="title">
            Upload image
        </div>

        <div class="panel">
            <div class="std">
                <select name="" id="std" required>
                    <option value="" disabled selected>STD</option>
                    <option value="11th">11th</option>
                </select>
            </div>
            <div class="sub">
                <select name="opt" id="select" required>
                    <option value="" disabled selected>Choose subject</option>
                    <option value="Tamil">Tamil</option>
                    <option value="English">English</option>
                    <option value="Maths">Maths</option>
                    <option value="Physics">Physics</option>
                    <option value="Chemistry">Chemistry</option>
                    <option value="CSC">CSC</option>
                    <option value="Bio-Bot">Bio-Bot</option>
                    <option value="Bio-Zoo">Bio-Zoo</option>
                    <option value="Botany">Botany</option>
                    <option value="Zoology">Zoology</option>
                    <option value="Compl.Appl">Compl.Appl</option>
                    <option value="Commerce">Commerce</option>
                    <option value="Eco">Eco</option>
                    <option value="B.Maths">B.Maths</option>
                </select>
            </div>
        </div>
        
        <input type="file" name="upload_image" required>
         <input type="submit" id="imgbtn">
    </form>
</div>
{%endblock%}