{% extends "style.html" %}
{% block content%}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
<script src="{{ url_for('static', filename='style.js') }}"></script>

<div class="form">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        
        
        <div class="title">
            Upload image
        </div>
        <input type="file" name="upload_image" required>
         <input type="submit" id="imgbtn">
    </form>
</div>
{%endblock%}