{% extends "style.html"%}
{% block content%}
<title>{{title}}</title>
<link rel="stylesheet" href="{{url_for ('static', filename='image.css') }}">
<link rel="stylesheet" href="{{url_for ('static', filename='style.css') }}">
<script src="{{url_for ('static', filename='style.js') }}"></script>
<script src="{{url_for ('static', filename='image.js') }}"></script>
<html>
    <body>
        <div class="panel">
            <div class="std">
                <select id="std" required name="std" onchange="stdch()">
                    <option value="std11">11th</option>
                </select>
            </div>
            <div class="sub">
                <select id="select" required name="sub" onchange="sub()">
                    <option value="" disabled selected>Choose subject</option>
                    <option value="Tamil">Tamil</option>
                    <option value="English">English</option>
                    <option value="Maths">Maths</option>
                    <option value="Physics">Physics</option>
                    <option value="Chemistry">Chemistry</option>
                    <option value="CSC">CSC</option>
                    <option value="Bio-Bot">Bio-Bot</option>
                    <option value="Bio-Zoo">Bio-Zoo</option>
                    <option value="Botany">Botany</option>
                    <option value="Zoology">Zoology</option>
                    <option value="Compl.Appl">Compl.Appl</option>
                    <option value="Commerce">Commerce</option>
                    <option value="Eco">Eco</option>
                    <option value="B.Maths">B.Maths</option>
                </select>
            </div>
        </div>
        <div class="data">
            {% for res in data %}
            {% set i = loop.index %}
                <div class="image">
                    <img src="/static/img/{{res['img']}}" alt="Image not found" class="images {{res['std']}} img" id="{{res['sub']}}">
                    
                    <div class="name img {{res['std']}}" id="{{res['sub']}}">
                        by {{res["name"]}}
                    </div>
                    <div class="topic img {{res['std']}}" id="{{res['sub']}}">
                        {{res["topic"]}}
                    </div>
                </div>
            {% endfor%}
        </div>
      
    </body>
</html>
{%endblock%}