{% extends "style.html" %}
{% block content%}

<title>{{title}}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="{{ url_for('static', filename='login.js') }}"></script>
<script src="{{ url_for('static', filename='style.js') }}"></script>

<div class="body">
    <div class="title">
        Log In
    </div>
    <div class="error" id="error">
        Invalid Username
    </div>
    <form method="POST" autocomplete="off" id="form" action="/admin_page">
        <label for="username">Username</label>
        <input type="text" id="username" required autocomplete="false" name="username" placeholder="Enter Username">
        <label for="password">Password</label>
        <input type="password" id="password" autocomplete="false" required="" name="password" placeholder="Enter Password">
        <input type="submit" id="submit" value="login" onclick="data()">
    </form>
</div>

{% endblock%}