<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/login.css">
    <script src="https://kit.fontawesome.com/aaba3a110c.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/static/img/nexlogo.png">
    <script src="/static/login.js"></script>
</head>
<body>
    <div class="header fluid-container col-sm-12" id="header" >
        <div class="head" id="head">
            <div class="navigation" id="navigation">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#link">Contact us</a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="image">Notes</a></li>
                    <li><a href="">lorem</a></li>
                </ul>
            </div>
            <div class="navigationbar" id="navigationbar"">
                <i class="bars fa-solid fa-bars-staggered" onclick="navbarOpen()"></i>
                <div class="navbarcont" id="navbarcont">
                    <ul>
                        <i class="bars1 fa-solid fa-bars-staggered" onclick="navbarClose()"></i>
                        <li><a href="">Home</a></li>
                        <li><a href="#link">Contact us</a></li>
                        <li><a href="login">Login</a></li>
                        <li><a href="image">Notes</a></li>
                        <li><a href="">lorem</a></li>
                    </ul>
                </div>
            </div>
            <h2 class="text01">
                <img src="/static/img/nexlogo.png" alt="">
            </h2>
        </div>
        {% block content%}
        {% endblock%}
        <div class="link" id="link">
            <div class="insta">
                <a href=""><i class="fa-brands fa-instagram"></i>  Instagram</a>
            </div>
        </div>
</body>
</html>